.panel.panel-default
  .panel-heading

    .panel-body
      %h2 Editing category

      = render 'form'

      = link_to 'Show', user, class: 'btnnavi btn btn-primary'
      \|
      = link_to 'Back', users_path, class: 'btnnavi btn btn-primary'