.panel.panel-default
  .panel-heading

    .panel-body
      %h2 Editing category

      = render 'form'

      = link_to 'Show', category, class: 'btnnavi btn btn-primary'
      \|
      = link_to 'Back', categories_path, class: 'btnnavi btn btn-primary'
