%h2 Test2
%h3 Reviews

-#.table-responsive
-#  %table.table.table-striped.table-hover.table-condensed
-#    %tr
-#      %th Content
-#      %th Rating
-#    - review.product.each do |review|
-#    %tr
-#      %td= review.content
-#      %td= review.rating